<!-- backdrop -->
<!-- modal-container -->
<!-- modal-header -->
<!-- modal-body -->

<div class="backdrop"></div>
<div class="modal-container">
  <div class="modal-content">
    <div class="modal-header">
      <h3>Add New Task</h3>
    </div>
    <div class="modal-body"></div>
    <form [formGroup]="newTaskForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input
          type="text"
          formControlName="title"
          id="title"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          formControlName="description"
          id="description"
          class="form-control"
        />
      </div>
      <div class="form-control">
        <div class="Date">
          <input
          type="date"
          placeholder="Due Date"
          formControlName="dueDate"
          id="dueDate"
          class="form-control" />
        </div>
      </div>
      <div class="form-class">
        <select formControlName="priority" id="priority" name="status">
          <option value="priority" selected disabled>Priority</option>
          <option value="High">High</option>
          <option value="Medium">Medium</option>
          <option value="Low">Low</option>
        </select>
      </div>
      <div class="form-class">
        <select formControlName="status" id="status">
          <option value="status" selected disabled>Status</option>
          <option value="To Do">To Do</option>
          <option value="In Progress">In Progress</option>
          <option value="Done">Done</option>
        </select>
      </div>
      <div class="button-group">
        <button class="btn btn-primary" type="submit">Add</button>
        <button class="btn btn-primary" type="cancel" (click)="cancelAdd()">Cancel</button>
      </div>

    </form>
  </div>
</div>
