<div class="container">
  <div style="padding-left: 244px">
    <h1>Task List</h1>
    <div class="top-line" style="display: flex; justify-content: space-between">
      <div class="dropdowns" style="display: flex; gap: 8px">
        <div class="status">
          <select name="status" id="status">
            <option value="status" selected disabled>Status</option>
            <option value="To Do">To Do</option>
            <option value="In Progress">In Progress</option>
            <option value="Done">Done</option>
          </select>
        </div>
        <div class="Date">
          <input type="date" />
        </div>
        <div class="priority">
          <select name="priority" id="priority">
            <option value="priority" selected disabled>Priority</option>
            <option value="High">High</option>
            <option value="Medium">Medium</option>
            <option value="Low">Low</option>
          </select>
        </div>
      </div>

      <!--  -->
      <button class="new-task" (click)="onOpenModal()" >Add New Task</button>
    </div>
    <div class="table-body">
      <div class="task-list-row" style="display: flex">
        <div class="task-list-headers">Title</div>
        <div class="task-list-headers">Due Date</div>
        <div class="task-list-headers">Priority</div>
        <div class="task-list-headers">Status</div>
        <div class="task-list-headers">Actions</div>
      </div>
    </div>
  </div>
  <!-- task form modal  -->
  <!-- isOpenModal dictates if modal shows -->
  <app-task-form-modal *ngIf="isOpenModal"></app-task-form-modal>
</div>


