.container {
  position: relative;
}

.status {
  border-radius: 4px;
  border: 1px solid #d2d2d2;
  background: #fff;
  width: 104px;
  height: 26px;
  flex-shrink: 0;
}
.item {
  #item_0 {
    left: 0px;
    top: 0px;
    font-size: 16px;
    width: 137px;
    font-family: "Inter";
    font-weight: Semi Bold;
    color: rgba(0, 0, 0, 1);
  }
}
.top-line {
  gap: 10px;
  margin-bottom: 8px;
}
.new-task {
  margin-left: 22px;
  /* margin-top: 42px; */
  font-size: 16px;
  font-family: "Inter";
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  width: 202px;
  border-radius: 12px;
  background: #48c15b;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  float: right;
}
.table-headers {
  border-radius: 10px;
  border: 1px solid #d2d2d2;
  /* width: 1263px; */
  /* height: 713px; */
  flex-shrink: 0;
}
.task-list-headers {
  width: 20%;
  padding: 15px;
  margin: 5px;
  color: rgb(119, 117, 117);
  font-weight: 600;
}
.actions{
  padding-left: o;padding-top: 0;justify-content:left;
}
/* .list-items {
  /* border: 1px solid darkgray; */

