<div class="container">
  <div style="padding-left: 244px">
    <h1>Task List</h1>
    <div class="top-line" style="display: flex; justify-content: space-between">
      <div class="dropdowns" style="display: flex; gap: 8px">
        <div class="status">
          <select name="status" id="status">
            <option value="status" selected disabled>Status</option>
            <option value="To Do">To Do</option>
            <option value="In Progress">In Progress</option>
            <option value="Done">Done</option>
          </select>
        </div>
        <div class="Date">
          <input type="date" />
        </div>
        <div class="priority">
          <select name="priority" id="priority">
            <option value="priority" selected disabled>Priority</option>
            <option value="High">High</option>
            <option value="Medium">Medium</option>
            <option value="Low">Low</option>
          </select>
        </div>
      </div>

      <!--  -->
      <button class="new-task" (click)="onOpenModal()">Add New Task</button>
    </div>
    <div class="table-headers">
      <div class="task-list-row" style="display: flex">
        <div class="task-list-headers">Title</div>
        <div class="task-list-headers">Due Date</div>
        <div class="task-list-headers">Priority</div>
        <div class="task-list-headers">Status</div>
        <div class="task-list-headers">Actions</div>
      </div>

      <div class="table-headers">
        <div
          class="task-list-row"
          *ngFor="let task of tasks; let i = index"
          style="display: flex"
        >
          <div style="color: black" class="task-list-headers list-items">
            {{ task.title }}
          </div>
          <div style="color: black" class="task-list-headers list-items">
            {{ task.dueDate | date : "MM/dd" }}
          </div>
          <div style="color: black" class="task-list-headers list-items">
            {{ task.priority }}
          </div>
          <div style="color: black" class="task-list-headers list-items">
            {{ task.status }}
          </div>
          <div style="color: black" class="task-list-headers list-items actions">
            <ul style="display:flex">
              <li>
                <span class="material-symbols-outlined"> delete_forever </span>
              </li>
              <li>
                <span class="material-symbols-outlined">
                edit
                </span>
              </li>
              <li>
                <span class="material-symbols-outlined">
                  visibility
                  </span>
              </li>
            </ul>
          </div>
        </div>
        <!-- <table class="table"> -->
        <!-- <table class="table"> -->
        <!-- <thead style="display: flexbox">
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Due Date</th>
          <th scope="col">Priority</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead> -->
        <!-- <tbody>
        <tr class="list-group" *ngFor="let task of tasks; let i = index">
          <td>{{ task.title }}</td>
          <td>{{ task.dueDate | date : "MM/dd" }}</td>
          <td>{{ task.priority }}</td>
          <td>{{ task.status }}</td>
        </tr>
      </tbody>
    </table> -->
      </div>
    </div>

    <!-- task form modal  -->
    <!-- isOpenModal dictates if modal shows -->
    <app-task-form-modal
      *ngIf="isOpenModal"
      (closeChild)="onOpenModal()"
    ></app-task-form-modal>
  </div>
</div>
